<%- include('include/head') %>

<body style="background-color: black;">
    <div class="error">

        <img class="imgerror" src="/assets/img/erro404.png" alt="Imagem de erro" srcset="">
    </div>

    <script src="/assets/js/bundle.js"></script>

</body>

</html>