<%- include('./head') %>
<header>
    <div class="caixa">
        <% if (locals.user) { %>
        <h1><a class="link" href="/logged">Warehouse</a></h1>
        <% } else {%>
        <h1><a class="link" href="/">Warehouse</a></h1>
        <% } %>
        <nav>
            <% if (locals.user) { %>
            <ul style="list-style-type: none">

                <li><a class='link' href="/login/logout">Logout</a></li>

            </ul>
            <% } else {%>

            <ul style="list-style-type: none">

                <li><a class='link' href="/login/index">Login</a></li>

            </ul>
            <% } %>
        </nav>
    </div>
</header>